 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Cinema App</h1>
                <div class="row">
                    <div class="col-3">
                        <div class="card" style="width: 17rem;margin:2px; ">
                            <img class="card-img-top img-fluid"style="width:300px;height: 130px" src="/img/10.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">SALON 1</h5>
                                <a href="#" class="btn btn-primary">Salonu Gör</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 17rem;margin:2px; ">
                            <img class="card-img-top img-fluid" style="width:300px;height: 130px" src="/img/20.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">SALON 2</h5>
                                <a href="#" class="btn btn-primary">Salonu Gör</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 17rem;margin:2px; ">
                            <img class="card-img-top img-fluid" style="width:300px;height: 130px" src="/img/30.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">SALON 3</h5>
                                <a href="#" class="btn btn-primary">Salonu Gör</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 17rem;margin:2px; ">
                            <img class="card-img-top-img img-fluid" style="width:300px;height: 130px" src="/img/40.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">SALON 4</h5>
                                <a href="#" class="btn btn-primary">Salonu Gör</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>